<h1 id='StupidCoachText'>Stupid Coaching</h1>
<div class="alert alert-primary" role="alert">
<p>- You : </p>
<%= @question %>
</div>
<div class="alert alert-secondary" role="alert">
<p>- Your stupid coach : </p>
<%= @reponse %>
</div>
<p><%= link_to 'Ask a new question please', ask_path %></p>
